<!-- 
================================================
                    Header section 
================================================ 
-->
<%- include('header') %>

<!-- 
================================================
                    Navbar  
================================================ 
-->
<%- include('nav') %>

<!-- 
================================================
                    Container  
================================================ 
-->

<div class="container-box container-fluid">
  <!-- Side Section  -->
  <div class="sidebar container p-3">
    <div class="first-search-field pt-3 pb-3">
      <span class="eventLabel">Post an Event</span>
      <a href="#" id="eventPostButton">
        <span class="fa fa-plus"></span>
      </a>
    </div>

    <h3>Keyword</h3>

    <div class="first-search-field">
      <input type="text" id="getKeyword" placeholder="Enter keyword" class="top-search" />
      <span class="fa fa-search"></span>
    </div>

    <h3>Filters</h3>

    <div class="first-search-field">
      <input
        type="text"
        class="top-search"
        id="getName"
        placeholder="Name"
      />
      <button type="button"><span class="fa fa-search"></span></button>
    </div>

    <div class="first-search-field">
      <input
        type="text"
        class="top-search"
        id="getPlace"
        placeholder="Place"
      />
      <button type="button"><span class="fa fa-search"></span></button>
    </div>
    

    <div class="first-search-field">
      <input
        type="text"
        class="top-search"
        id="getYear"
        placeholder="Year"
      />
      <button type="button"><span class="fa fa-search"></span></button>
    </div>

    <div class="first-search-field">
      <input
        type="text"
        class="top-search"
        id="getDepartment"
        placeholder="Department"
      />
      <button type="button"><span class="fa fa-search"></span></button>
    </div>

    <!-- Logout  -->
    <div class="first-search-field">
      <a href="/student/logout" type="button" class="w-100 p-1 text-center btn btn-block btn-primary submit" >Logout</a>
    </div>
  </div>

  <!-- Main section  -->
  <div class="main">
    <div class="header">
      <p class="pl-3"><span id="value">1924</span> members in community</p>
    </div>

    <div class="member">
      <img src="../img/modal-profile.jpg" />

      <div class="member-detail">
        <a href="#" class="member-name">MOHAMED JAKK A</a>
        <p >Student class <span class="member-year">2019</span></p>
        <p>M.Sc Chemistry, <span class="member-department">Chemistry</span></p>
        <p class="member-home-town">Tiruchirappalli</p>
      </div>
      <button type="submit">view profile</button>
    </div>

    <div class="member">
      <img src="../img/modal-profile.jpg" />

      <div class="member-detail">
        <a href="#" class="member-name">RAJA SEKARAN R</a>
        <p>Student, class <span class="member-year">2009</span> </p>
        <p>M.Sc Physics, <span class="member-department">Chemistry</span></p>
        <p class="member-home-town">Madurai</p>
      </div>
      <button type="submit">view profile</button>
    </div>

    <div class="member">
      <img src="../img/modal-profile.jpg" />

      <div class="member-detail">
        <a href="#" class="member-name">BALA MURUGAN N</a>
        <p >Student, class <span class="member-year">2000</span></p>
        <p>M.Sc Math, <span class="member-department">Math</span></p>
        <p class="member-home-town">Theni</p>
      </div>
      <button type="submit">view profile</button>
    </div>

    <div class="member">
      <img src="../img/modal-profile.jpg" />

      <div class="member-detail">
        <a href="#" class="member-name">VEL MURUGAN S</a>
        <p >Student, class <span class="member-year">2000</span></p>
        <p>M.Sc Math, <span class="member-department">Math</span></p>
        <p class="member-home-town">Dindugal</p>
      </div>
      <button type="submit">view profile</button>
    </div>

    <div class="member">
      <img src="../img/modal-profile.jpg" />

      <div class="member-detail">
        <a href="#" class="member-name">ARAVIND D</a>
        <p >Student, class <span class="member-year">2012</span> </p>
        <p>M.Sc Chemistry, <span class="member-department">Chemistry</span></p>
        <p class="member-home-town">Tiruchirappalli</p>
      </div>
      <button type="submit">view profile</button>
    </div>

    <div class="member">
      <img src="../img/modal-profile.jpg" />

      <div class="member-detail">
        <a href="#" class="member-name">MOHAMED ASAR A</a>
        <p >Student, class <span class="member-year">2012</span> </p>
        <p>B.E Computer Science and Engineering, <span class="member-department">CSE</span></p>
        <p class="member-home-town">Tiruchirappalli</p>
      </div>
      <button type="submit">view profile</button>
    </div>
  </div>
</div>

<!-- =================================
                FOOTER 
====================================== -->
<script src="../js/search.js"></script>
<%- include('footer') %> 
