   <!-- Script Links  -->
   <script src="../lib/jquery/jquery.min.js"></script>
   <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
   <script src="../lib/slick-master/slick/slick.min.js"></script>
   <script src="../lib/loading-plugin/waitMe.min.js"></script>
   <script src="../js/main.js"></script>
 </body>
</html>
