
.card {
  /* margin: 5rem auto; */
  width: 20rem;
  box-shadow: 0.4px 0.4px 2px rgba(52, 58, 64, 0.8),
    -0.4px -0.4px 2px rgba(52, 58, 64, 0.8);
  margin-top:8rem;
}

.card-img-top {
  width: 95%;
  display: block;
  margin: auto;
  height: 250px;
  margin-top: -4rem;
}

.text-success {
  font-weight: 800;
}

.card-img-overlay{
  /* background-color: rgba(0, 0, 0, 0.7); */
  height: 30px;
  margin: 9rem 2.2rem 2.2rem 2.2em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.img-title{
  position: absolute;
  bottom: 5rem;
  left: 1.6rem;
  width: 89%;
  height: 40px;
  text-align: center;
  padding: 0.5rem 1rem;
  /* overflow: hidden; */
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: white;
  background-color: #3e64ff;
}

.card-title{
  font-size: 1rem;
}

.btn-outline-warning,.btn-outline-danger{
  width: 100px;
}

.btn-outline-warning:hover{
  color: white;
}

.event-list{
  width: 50%;
  margin: auto;
}

.event-list a{
  width: 100%;
}