
.card {
  /* margin: 5rem auto; */
  width: 20rem;
  box-shadow: 0.4px 0.4px 2px rgba(52, 58, 64, 0.8),
    -0.4px -0.4px 2px rgba(52, 58, 64, 0.8);
  margin-top:8rem;
}

.card-img-top {
  width: 95%;
  display: block;
  margin: auto;
  height: 250px;
  margin-top: -4rem;
}

.text-success {
  font-weight: 800;
}

.card-img-overlay{
  /* background-color: rgba(0, 0, 0, 0.7); */
  height: 30px;
  margin: 9rem 2.2rem 2.2rem 2.2em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-img-overlay h5 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  /* margin-left: 1rem; */
  font-weight: 700;
  text-transform:uppercase;
  color: white;
}
