body {
  background: #e8eff7;
  font-size: 62.5%;
  line-height: 1;
  padding-bottom: 55px;
  font-family: Arial, Geneva, sans-serif;
}

h2 {
  font-size: 3.2em;
  font-family: 'ABeeZee', Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  color: #575a5f;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.65);
  text-align: center;
  padding: 1rem 0 0 0;
}

/* Header  */
#header {
  width: 100%;
  height: 80px;
  /* position: fixed; */
  z-index: 1;
  box-shadow: 0.5px 1px 15px rgba(52, 58, 64, 0.2);
}

.navbar-brand img {
  width: 80px;
  height: 80px;
}

.nav-item .nav-link {
  margin: 0;
  font-size: 1rem;
  padding: 10px;
}

.row-div-a {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.row-div-a h2 {
  font-size: 1.3rem;
  margin: 0 1rem;
  padding-top: 0.6rem;
}

.row-div-a p {
  font-size: 1rem;
  margin: 0 1rem;
  padding-top: 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  #header {
    position: unset;
    height: 130px;
  }

  .row-div-a {
    font-size: 1rem;
    z-index: 99;
    flex-direction: column;
  }

  .title {
    display: none;
  }
}


.dots{
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.dots .ball{
  margin: 0.3rem;
  width: 10px;
  border: 1px solid rgba(52, 58, 64, 0.7);
  height: 10px;
  border-radius: 50%;
}


/* Initial show dot  */
#ball-5{
  background-color: rgb(52, 58, 64);
}

/* page structure */
#w {
  width: 700px;
  margin: 2rem auto;
  padding: 1rem;
}

@media (max-width: 600px){
  #w{
    width: 100vw;
    height: auto;
  }

}

#page {
  display: block;
  position: relative;
  overflow: hidden;
  height: auto;
  background: #fff;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 12px 0 rgba(150, 180, 210, 0.9);
  -moz-box-shadow: 0 0 12px 0 rgba(150, 180, 210, 0.9);
  box-shadow: 0 0 12px 0 rgba(150, 180, 210, 0.9);
}
.content {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
}

/* inner page layouts */
#content-login {
  display: block;
  position: relative;
  width: 100%;
}

#content-register {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 880px;
}

#contact-details {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 880px;
}

#curricular-details {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 880px;
}

#other-details {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 880px;
}

#submit{
  display: none;
 margin: auto;
}

/* form styles */
label {
  display: block;
  font-weight: bold;
  color: #72757b;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.4em;
  line-height: 1.45em;
}

.btn{
  display: block;
}

.btns{
  display: flex;
  justify-content: space-between;
}

.custom-select{
  font-size: 1rem;
}

#clg{
  font-size: 0.7rem;
}

.yesOrNo{
  padding-top: 0.6rem;
  display: flex;
  justify-content: center;
}