@import 'style.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-transform: uppercase;
}

.mobile-toggler{
    position: relative;
    background-color:#8A4F7D;
    color: white;
    display: none;
}

.back-to-top{
    position: fixed;
    bottom: 40px;
    background: none;
    color: #8A4F7D;
    /* border-radius: 50%; */
    z-index: 99;
    font-size: 2rem;
    right: 10px;
}

.mobile-toggler i{
    font-size: 1.1rem;
    font-weight: 300;
}

.title{
    position: relative;
}

.dashboard{
    height: 100vh;
    width: 100%;
}

@media (max-width:600px){
    .dashboard{
        margin-top: 1rem;
        width: 104vw;
    }

    .mobile-toggler{
        display: block;
        top: 100px;
        margin: auto;
    }
}

.profile-nav{
    background: #EAE8FF;
    /* height: 100vh; */
    position: fixed;
    margin: 0rem;
}

.profile-name{
    margin: 0;
}

.profile-nav img{
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

.profile-nav h2{
    text-align: center;
}

.profile-nav .dash-links{
    padding: 1rem;
    padding-top: 0;
}

.profile-nav .dash-links a{
    color:#AF3E4D;
    font-weight: 500;
}

.profile-nav .dash-links a i{
    color: white;
    margin-right:1rem;
    padding: 0.6rem;
    border-radius: 3px;
    font-size: 1.4rem;
    background-color: #8A4F7D;    
}

@media (max-width: 600px){
    .profile-nav{
       position: relative;
       margin: 0;
       display: none;
    }

    .profile-nav img{
        width: 70px;
        height: 70px;
    }

    header{
        margin: 0;
    }
}

.profile-showcase{
    padding: 1rem;
}

.profile-showcase .detail h1{
    color: #AF3E4D;
    text-transform: uppercase;
}

.profile-showcase .detail p{
    font-size: 1.3rem;
    padding: 1rem;
}

.profile-showcase .detail p span{
    padding: 1rem;
    font-size: 1.5rem;
    color: #1B264F;
    text-transform: uppercase;
}

.profile-showcase .detail .info{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    margin-top: 1rem;
    height: 100%;
}

.profile-showcase .detail .info p:nth-child(1){
    color: #2D3142;
    font-weight: 800;
    font-size: 1.3rem;
}

@media (max-width:600px){
    .profile-showcase .detail h1{
        font-size: 1.5rem;
    }

    .profile-showcase{
        margin: 0;
        padding: 0;
    }
}

.profile-notification{
    position: fixed;
    background-color: #EAE8FF;
    right: 0;
    height: 100vh;
    overflow: hidden;
}

.profile-notification h4{
    color: #AF3E4D;
    padding: 1rem;
    text-align: center;
}

.profile-notification .news-slide .lazy img{
    height: 250px;
    display: block;
    position: relative;
}

.profile-notification .news-slide .lazy .img p{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 1.3rem;
    padding: 0.3rem 1rem;
    text-align: center;
    background: #2D3142;
    color: white;
    margin: 0;
}


.profile-notification .recent-notification i{
    padding: 1rem;
    margin-top: 1rem;
}

.profile-notification .recent-notification .info-notify-right{
    margin-top: 1rem;
}

.profile-notification .recent-notification .info-notify-right p{
    margin: 0;
}


@media (max-width: 600px){
    .profile-notification{
        position: relative;
    }
}