<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dash Board</title>

    <!-- link stylesheets -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="../lib/font-awesome/css/font-awesome.min.css"
    />

    <!-- loading animation plugin  -->
    <link rel="stylesheet" href="../lib/loading-plugin/waitMe.min.css" />

    <!-- custome stylesheet  -->
    <link rel="stylesheet" href="../css/style.css" />

    <!-- popper js plugin  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

  </head>
  <body class="waitMe_body">
      <div class="waitMe_container progress" style="background:#fff">
        <div style="background:#000"></div>
      </div>
    <!-- 

    ================================================
                        Header section 
    ================================================ 
    -->
    <header id="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- nav brand  -->
        <a class="navbar-brand row-div-a" href="#">
          <img src="../img/logo.jpg" alt="" />
          <div class="row-div title">
            <h2>UCE(BIT Campus)</h2>
            <p>2TN(BN) 13TH COY ANNA UNIVERSITY</p>
          </div>
        </a>

        <!-- Toggler button  -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#nav-container"
          aria-controls="nav-container"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-container">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-danger" href="/index.html"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="enrollment"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Enrollment
              </a>
              <div class="dropdown-menu" aria-labelledby="enrollment">
                <a class="dropdown-item" href="#">Staff</a>
                <a class="dropdown-item" href="#">Admin</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../pagelinks/studentSignUp.html"
                  >Student</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="login-down"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Login
              </a>
              <div class="dropdown-menu" aria-labelledby="login-down">
                <a class="dropdown-item" href="#">Staff</a>
                <a class="dropdown-item" href="#">Admin</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../pagelinks/studentSignIn.html"
                  >Student</a
                >
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cadet Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Competitions</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Camps</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Activities</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Alumni</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Achievers</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Video</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >ANO Point</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Go to Unverified Profile  -->
    <div class="unverified-profile" data-placement="right" data-toggle="tooltip" title="Unverified Profile Available!">
      <span id="close-icon" class="fa fa-exclamation-circle text-danger"></span>
    </div>

    <!-- pdf Icon  -->
    <form action="#" method="post">
      <div class="pdf" data-placement="right" data-toggle="tooltip" title="Generate PDF">
        <span id="close-icon" class="fa fa-close"></span>
        <span class="fa fa-file-pdf-o" id="pdf"></span>
        <input type="number" placeholder="Enter the year" id="send" class="btn btn-primary">
        <button type="submit" id="submit-pdf">
          <span class="fa fa-send"></span>
        </button>
      </div>
    </form>

    <div class="container-box container-fluid" id="container">
      <!-- Side Section  -->
      <div class="sidebar container p-3">
        <div class="first-search-field pt-3 pb-3">
          <span class="eventLabel">Post an Event</span>
          <a href="#" id="eventPostButton">
            <span class="fa fa-plus"></span>
          </a>
        </div>

        <h3>Keyword</h3>

        <div class="first-search-field">
          <input type="text" id="getKeyword" placeholder="Enter keyword" class="top-search" />
          <span class="fa fa-search"></span>
        </div>

        <h3>Filters</h3>

        <div class="first-search-field">
          <input
            type="text"
            class="top-search"
            id="getName"
            placeholder="Name"
          />
          <button type="button"><span class="fa fa-search"></span></button>
        </div>

        <div class="first-search-field">
          <input
            type="text"
            class="top-search"
            id="getPlace"
            placeholder="Place"
          />
          <button type="button"><span class="fa fa-search"></span></button>
        </div>
        

        <div class="first-search-field">
          <input
            type="text"
            class="top-search"
            id="getYear"
            placeholder="Year"
          />
          <button type="button"><span class="fa fa-search"></span></button>
        </div>

        <div class="first-search-field">
          <input
            type="text"
            class="top-search"
            id="getDepartment"
            placeholder="Department"
          />
          <button type="button"><span class="fa fa-search"></span></button>
        </div>
      </div>

      <!-- Main section  -->
      <div class="main">
        <div class="header">
          <p class="pl-3"><span id="value">1924</span> members in community</p>
        </div>
        
        <div class="member d-flex justify-content-sm-center">
          <img src="../img/modal-profile.jpg" class="col-lg-2 col-sm-12" />

          <div class="member-detail col-lg-5 col-sm-12">
            <p class="member-name">BALA MURUGAN N</p>
            <p >Student, class <span class="member-year">2000</span></p>
            <p>M.Sc Math, <span class="member-department">Math</span></p>
            <p class="member-home-town">Theni</p>
          </div>
          <div class="col-lg-5 btn-box mt-2">
            <a href="/profile/?id=<%= student.id %>" class="btn btn-outline-primary submit-pdf view-profile mt-1" id="submit-pdf" type="submit">view profile</a>
          </div>
        </div>

        <div class="member row  justify-content-sm-center">
          <img src="../img/modal-profile.jpg" class="col-lg-2 col-sm-12" />

          <div class="member-detail col-lg-5 col-sm-12">
            <p class="member-name">BALA MURUGAN N</p>
            <p >Student, class <span class="member-year">2000</span></p>
            <p>M.Sc Math, <span class="member-department">Math</span></p>
            <p class="member-home-town">Theni</p>
          </div>
          
          <div class="col-lg-5 btn-box mt-2">
            <a href="/profile/?id=<%= student.id %>" class="btn btn-outline-primary submit-pdf view-profile  mt-1" id="submit-pdf" type="submit">view profile</a>
            <a href="/student/profile/?id=<%= student.id %>" class="btn btn-outline-danger decline  mt-1" type="submit">Decline</a>
            <a href="/student/profile/?id=<%= student.id %>" class="btn btn-outline-success  mt-1" type="submit">Verify</a>
          </div>
        </div>

        
        <div class="member row  justify-content-sm-center">
          <img src="../img/modal-profile.jpg" class="col-lg-2 col-sm-12" />

          <div class="member-detail col-lg-5 col-sm-12">
            <p class="member-name">BALA MURUGAN N</p>
            <p >Student, class <span class="member-year">2000</span></p>
            <p>M.Sc Math, <span class="member-department">Math</span></p>
            <p class="member-home-town">Theni</p>
          </div>
          <div class="col-lg-5 btn-box mt-2">
            <a href="/profile/?id=<%= student.id %>" class="btn btn-outline-primary submit-pdf view-profile  mt-1" id="submit-pdf" type="submit">view profile</a>
            <a href="/student/profile/?id=<%= student.id %>" class="btn btn-outline-danger decline  mt-1" type="submit">Decline</a>
            <a href="/student/profile/?id=<%= student.id %>" class="btn btn-outline-success  mt-1" type="submit">Verify</a>
          </div>
        </div>
  
      </div>
    </div>

    <!-- Script Links  -->
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/loading-plugin/waitMe.min.js"></script>
    <script src="../js/main.js"></script>
    <!-- <script src="../js/test.js"></script> -->
    <script>
    </script>
  </body>
</html>
